<div>@ViewBag.HTML</div>
<p>------------------------------------------------------------------</p>
<div>@ViewBag.quoteResult</div>
<p>------------------------------------------------------------------</p>
<div>@ViewBag.result</div>
<p>------------------------------------------------------------------</p>
<p>------------------------------------------------------------------</p>
<p>------------------------------------------------------------------</p>
<div>@ViewBag.wholeRequestResult</div>
<p>------------------------------------------------------------------</p>
<div>@ViewBag.Name</div>
<p>------------------------------------------------------------------</p>
<div>@ViewBag.URL</div>